[submodule "westworld-timeline"]
	path = westworld-timeline
	url = https://github.com/perminov-aleksandr/westworld-timeline
[submodule "curriculum-vitae"]
	path = curriculum-vitae
	url = https://github.com/perminov-aleksandr/curriculum-vitae
[submodule "tg-ui-contest"]
	path = tg-ui-contest
	url = https://github.com/perminov-aleksandr/tg-ui-contest
	
